  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  <script type="text/javascript" src="/js/bootstrap-modal.js"></script>

  <div id="dev_notice" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>This project is under development</h3>
            </div>
            <div class="modal-body">
              <p>Liveable World is an attempt to evaluate the liveability of our world through a new type of Liveability Index, which harnesses the Internet's information sources along with user-contributed data.</p>
              <p>This piece is a work in progress. You can learn more in the project's documentation.</p>
            </div>
            <div class="modal-footer">
              <a href="javascript:sessionStorage.setItem('dev_notice', true)" onclick="$('#dev_notice').modal('hide')" class="btn primary">Continue</a>
              <a href="//liveableworld.com" class="btn secondary">Visit the documentation</a>
              
            </div>
  </div>
</body>
</html>