<h4 class="span12 subtitle">Find the best place to live. Liveable World is a social rating system for cities. <a href="#about">Learn more</a> about why its different.</h4>

<div class="homebox span16">
<hr class="vertical">
	<nav id="main_menu">
		<ul class="row">
			<li class="span8">
				<a href="./browse" class="btn large"><span class="icon">L</span> Browse the Index</a>
				<p>Explore the live data. Find the cities that are the most liveable, and see how yours is doing!</p>
			</li>
			<li class="span8" style="margin-left: 0;">
				<a href="./contribute" class="btn large"><span class="icon">.</span> Vote for a City</a>
				<p>Contribute to the index! Rate a city you live in or know for its liveability.</p>
			</li>
		</ul>
	</nav>
</div>

<section class="span16 whitebox">
	<h2 id="about">What is Liveable World?</h2>
	<p>Liveable World is a live, crowd-sourced liveability index which can help us understand what makes certain cities so desirable. Users vote on their own city, rating it on a number of factors, some of which which are not conventionally collected such as a city's abundance of green spaces, or physical accessibility.</p>  <!--<p>The result is a dynamic, and grassroots evaluation aimed at providing insight into the unique strengths of cities, instead of a simplistic rating scale evaluation of human development.</p>-->
</section>

<section class="span16 infobox">
	<div class="row">
		<div class="span3 iconbox"><span class="icon">H</span></div>
		<div class="span8">Check out the source code. Its available to browse, and modify upon on github!</div>
		<div class="span3" style="text-align: right"><a href="https://github.com/ksokhan/LiveableWorld" class="btn large">View Project</a></div>
	</div>
</section>

<footer class="credit">Liveable World &copy; 2012. Created by <a target="blank" href="http://kostia.ca">Konstantin Sokhan</a></footer>