<h4 class="span12 subtitle">Find the best place to live. Liveable World is a social rating system for cities. <a href="#about">Learn more</a> about why its different.</h4>

<div class="homebox span14">
<hr class="vertical">
	<nav id="main_menu">
		<ul class="row">
			<li class="span6">
				<a href="./browse" class="btn large"><span class="icon">L</span> Browse the Index</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod ante ut lacus pellentesque. </p>
			</li>
			<li class="span6 offset1">
				<a href="./contribute" class="btn large"><span class="icon">.</span> Vote for a City</a>
				<p>Contribute to the index! Give your rating on a city you live in.</p>
			</li>
		</ul>
	</nav>
</div>
<!--
<section class="span16 whitebox">
	<h2>What is Liveable World?</h2>
	<p>Liveable World is an attempt to evaluate the liveability of our world through a humanistic perspective. It aims to create a dynamic and responsive system; a new type of Liveability Index, which harnesses the Internet’s information sources along with user-contributed data. The result is a dynamic system which is customized to each individual.</p>
</section>
-->