
<div id="map" class="section active" style="width:100%; height:100%"></div>
<div id="graphs" class="section">
		<table class="graphTable">
			<tr class="nohover">
				<th class="sort" data-sort="city">City</th>
				<th class="sort" data-sort="liveability">Liveability</th>
				<th class="sort" data-sort="infrastructure">Infrastructure</th>
				<th class="sort" data-sort="culture">Culture</th>
				<th class="sort" data-sort="environment">Environment</th>
			</tr>
		</table>
</div>

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1ZJwQNRaDXH1u9Cek2qkkW73RvqA9Vw8&sensor=true">
</script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyC1ZJwQNRaDXH1u9Cek2qkkW73RvqA9Vw8"></script>

  <script src="/js/raphael/raphael-min.js"></script>
  <script src="/js/raphael/g.raphael-min.js"></script>
  <script src="/js/raphael/g.pie-min.js"></script>
  <script src="/js/ejs_production.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap-twipsy.js"></script>
  <script src="/js/bootstrap-popover.js"></script>

<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/map.overlays.js"></script>
<script type="text/javascript" src="/js/raphael/g.bar-min.js"></script>
<script type="text/javascript" src="/js/graph.tablesorter.js"></script>

<script type="text/javascript" src="/js/graph.js"></script>

<script type="text/javascript">
	var nav = {
	    // false when something is loading... so block all events
	    status: false
	}

	$('.pills li').click(function() {
		if (!nav.status) return false;

		// update pill boxes
		$(this).siblings('.active').removeClass('active');
		$(this).addClass('active');

		var loc = $(this).find('a').attr('href');

		// load page
		if (loc == "#graphs") {
			$(loc).fadeIn();
			graph.draw();
		} else if (loc == "#map") {
			$('#graphs').fadeOut();
		}
	});
</script>