<div id="main" role="main">
<form class="contrib clearfix" method="post" action="/contribute/submit">
	<h2><em>Step 1 </em>First, The Formalities</h2>
	<p>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</p>
	<hr />
	<h4>Background Information</h4>
	<fieldset class="special form-stacked">
		<div class="row clearfix">
			<div class="span4">
				<label for="place[name]">City or Town</label>
				<div class="input">
					<input type="text" name="place[name]" id="name" autocomplete="off" required >
				</div>
			</div>
			<div class="span4">
				<label for="place[region]">State, Province, or Region</label>
				<div class="input">
					<input type="text" name="place[region]" id="region" >
				</div>
			</div>
			<div class="span4">
				<label for="place[country]">Country</label>
				<div class="input">
					<input type="text" name="place[country]" id="country" required >
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="span4">
				<label for="place[locX]">State, Province, or Region</label>
				<div class="input">
					<input type="text" name="place[locX]" id="locX" required>
				</div>
			</div>
			<div class="span4">
				<label for="place[locY]">Country</label>
				<div class="input">
					<input type="text" name="place[locY]" id="locY" required>
				</div>
			</div>
		</div>
		
		
	</fieldset>
	
	<h4>Environment</h4>
	<fieldset>
		<div class="clearfix">
			<label for="place[worklife]">Work-life Balance</label> 
			<div class="input">
			<select name="place[worklife]" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="place[culturaldiversity]">Cultural Diversity</label> 
			<div class="input">
			<select name="place[culturaldiversity]" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="place[greenspaces]">Green Spaces</label> 
			<div class="input">
			<select name="place[greenspaces]" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</fieldset>
	<div class="clearfix">
	<button type="submit" class="btn large primary right">Find my City</button>
	</div>
	</form>
</div>
