<div id="main" role="main">

<form class="contrib clearfix" method="post" action="/contribute/submit">
	<h2><em>Step 1 </em>First, The Formalities</h2>
	<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>
	
	<hr />
	
	<h4>Background Information</h4>
	<fieldset class="location form-stacked">
		<div class="row clearfix">
			<div id="location_preview" class="span4"></div>
			<div class="span12 inputs">
			<div class="row">
				<div class="span4">
					<label for="place[name]">City or Town</label>
					<div class="input">
						<input type="text" name="place[name]" id="name" autocomplete="off" required >
					</div>
				</div>
				<div class="span4">
					<label for="place[region]">State, Province, or Region</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="text" class="displayonly" name="place[region]" autocomplete="off" id="region" >
					</div>
				</div>
				<div class="span4">
					<label for="place[country]">Country</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="text" class="displayonly" name="place[country]" autocomplete="off" id="country" required >
					</div>
				</div>
				<div class="span4">
					<label for="place[locX]">Latitude</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="text" class="displayonly" name="place[locX]" id="locX" autocomplete="off" required>
					</div>
				</div>
				<div class="span4">
					<label for="place[locY]">Longitude</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="text" class="displayonly" name="place[locY]" id="locY" autocomplete="off" required>
					</div>
				</div>
			</div>
			</div>
		</div>		
	</fieldset>
	
	
	<h2><em>Step 2 </em>What&rsquo;s important to you?</h2>
	<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>
	
	<hr />
	
	<h4>Infrastructure</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		<div class="span12">
			<label for="worklife" title="Economy relates to stability">Economy</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="culturaldiversity">Housing</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Career</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Education</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Healthcare</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Safety</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="freedom">Freedom & Equality</label> 
			<div class="input">
			<select name="freedom" id="freedom">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</div>
	</fieldset>
	
	
	<h4>Culture</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		
		<div class="span12">
			<label for="worklife">Cultural Diversity</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
			
			<label for="culturaldiversity">Sense of Community</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Artistic/Music Scene</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Work-Life Balance</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</div>
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		
		<div class="span12">
			<label for="worklife">Public Spaces</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="culturaldiversity">Climate</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</div>
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		
		<div class="span12">
			<label for="worklife">Work-life Balance</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="culturaldiversity">Cultural Diversity</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>

			<label for="greenspaces">Green Spaces</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</div>
	</fieldset>
	
	<div class="clearfix">
	<button type="submit" class="btn large primary right">Find my City</button>
	</div>
	
	</form>
</div>
