<div id="main" role="main">
<form class="search">

	<h4>Infrastructure</h4>
	<fieldset>
		<div class="clearfix">
			<label for="worklife">Economy</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="culturaldiversity">Housing</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Career</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Education</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Healthcare</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Safety</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Political Freedom & Equality</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
	</fieldset>
	
	
	<h4>Culture</h4>
	<fieldset>
		<div class="clearfix">
			<label for="worklife">Cultural Diversity</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="culturaldiversity">Sense of Community</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Artistic/Music Scene</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Work-Life Balance</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
		<div class="clearfix">
			<label for="worklife">Recreational and Green Spaces</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="culturaldiversity">Climate</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
		<div class="clearfix">
			<label for="worklife">Work-life Balance</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="culturaldiversity">Cultural Diversity</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Green Spaces</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</fieldset>
	<button type="submit" class="btn large primary right">Find my City</button>
  </div>

</form>
