<div id="main" role="main">
	<div class="centered_box search">
		<form>
		<label class="visuallyhidden" for="search">Find a city:</label> 
		<input type="text" name="search" value="" placeholder="find a city" id="search"> 	
		<button class="btn primary" type="submit">Search</button>
		</form>
	</div>
	<nav id="main_menu">
	<ul class="row">
		<li class="span-one-third">
			<a href="discover" title="Take the Test">
				<h3>Find Your Place</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod ante ut lacus pellentesque at posuere tellus aliquam habitant morbi.</p>
			</a>
		</li>
		<li class="span-one-third">
			<a href="browse">
				<h3>Browse the Index</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod ante ut lacus pellentesque. </p>
			</a>
		</li>
		<li class="span-one-third">
			<a href="contribute">
				<h3>Rate a City</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod ante ut lacus pellentesque at posuere tellus aliquam.</p>
			</a>
		</li>		
	</ul>
	</nav>
</div>
