<div id="main" role="main">
<form class="search">
	<h4>Environment</h4>
	<fieldset>
		<div class="clearfix">
			<label for="worklife">Work-life Balance</label> 
			<div class="input">
			<select name="worklife" id="worklife">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="culturaldiversity">Cultural Diversity</label> 
			<div class="input">
			<select name="culturaldiversity" id="culturaldiversity">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
		
		<div class="clearfix">
			<label for="greenspaces">Green Spaces</label> 
			<div class="input">
			<select name="greenspaces" id="greenspaces">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			</div>
		</div>
	</fieldset>
	
	<button type="submit" class="btn large primary right">Find my City</button>
  </div>

</form>
